<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Vacancytype>
            <version>0.2.0</version>
        </Kega_Vacancytype>
    </modules>
    <frontend>
        <routers>
            <vacancytype>
                <use>standard</use>
                <args>
                    <module>Kega_Vacancytype</module>
                    <frontName>vacancytype</frontName>
                </args>
            </vacancytype>
        </routers>
        <layout>
            <updates>
                <vacancytype>
                    <file>vacancytype.xml</file>
                </vacancytype>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vacancytype>
				<use>admin</use>
				<args>
					<module>Kega_Vacancytype</module>
					<frontName>vacancytype</frontName>
				</args>
			</vacancytype>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<vacancytype>
					<file>vacancytype.xml</file>
				</vacancytype>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <vacancytype>
                <class>Kega_Vacancytype_Model</class>
                <resourceModel>vacancytype_mysql4</resourceModel>
            </vacancytype>
            <vacancytype_mysql4>
                <class>Kega_Vacancytype_Model_Mysql4</class>
                <entities>
                    <vacancytype>
                        <table>vacancytype</table>
                    </vacancytype>
                    <vacancytype_store_view>
						<table>vacancytype_store_view</table>
					</vacancytype_store_view>
                </entities>
            </vacancytype_mysql4>
        </models>
        <resources>
            <vacancytype_setup>
                <setup>
                    <module>Kega_Vacancytype</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vacancytype_setup>
            <vacancytype_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vacancytype_write>
            <vacancytype_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vacancytype_read>
        </resources>
        <blocks>
            <vacancytype>
                <class>Kega_Vacancytype_Block</class>
            </vacancytype>
        </blocks>
        <helpers>
            <vacancytype>
                <class>Kega_Vacancytype_Helper</class>
            </vacancytype>
        </helpers>
    </global>
</config>