<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Contact>
            <version>0.0.1</version>
        </Kega_Contact>
    </modules>
	
	<global>
        <blocks>
            <contact>
                <class>Kega_Contact_Block</class>
            </contact>
        </blocks>
        <helpers>
            <kega_contact>
                <class>Kega_Contact_Helper</class>
            </kega_contact>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Kega_Contact>
                <use>standard</use>
                <args>
                    <module>Kega_Contact</module>
                    <frontName>contact</frontName>
                </args>
            </Kega_Contact>
        </routers>
        <secure_url>
            <contact>/contact</contact>
        </secure_url>
        <layout>
            <updates>
                <contact>
                    <file>contact.xml</file>
                </contact>
            </updates>
        </layout>
        <translate>
            <modules>
                <Kega_Contact>
                    <files>
                        <default>Kega_Contact.csv</default>
                    </files>
                </Kega_Contact>
            </modules>
        </translate>
    </frontend>
</config>