<?xml version="1.0"?>
<config>
	<modules>
		<Kega_Init>
			<version>0.1.3</version>
		</Kega_Init>
	</modules>
	<global>
		<blocks>
			<init><class>Kega_Init_Block</class></init>
			<catalog>
				<rewrite>
					<product_view_type_configurable>Kega_Init_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<init>
				<class>Kega_Init_Helper</class>
			</init>
		</helpers>
		<models>
			<init>
				<class>Kega_Init_Model</class>
				<resourceModel>init_mysql4</resourceModel>
			</init>
			<init_mysql4>
				<class>Kega_Init_Model_Mysql4</class>
			</init_mysql4>
			<core>
				<rewrite>
					<store>Kega_Init_Model_Store</store>
					<email_template_filter>Kega_Init_Model_Email_Template_Filter</email_template_filter>
				</rewrite>
			</core>
			<catalog>
				<rewrite>
					<category>Kega_Init_Model_Catalog_Category</category>
					<category_attribute_source_mode>Kega_Init_Model_Category_Attribute_Source_Mode</category_attribute_source_mode>
				</rewrite>
			</catalog>
		</models>
		<resources>
			<init_setup>
				<setup>
					<module>Kega_Init</module>
					<class>Kega_Init_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</init_setup>
			<init_write>
				<connection>
					<use>core_write</use>
				</connection>
			</init_write>
			<init_read>
				<connection>
					<use>core_read</use>
				</connection>
			</init_read>
		</resources>
	</global>
	<frontend>
	<!--
		<layout>
			<updates>
				<init>
					<file>init.xml</file>
				</init>
			</updates>
		</layout>
		<translate>
			<modules>
				<Kega_Init>
					<files>
						<default>Kega_Init.csv</default>
					</files>
				</Kega_Init>
			</modules>
		</translate>
	-->
		<events>
			<controller_action_layout_load_before>
				<observers>
					<kega_init>
						<type>singleton</type>
						<class>init/observer</class>
						<method>addCatalogDisplaymodeXml</method>
					</kega_init>
				</observers>
			</controller_action_layout_load_before>
		</events>
        <layout>
            <updates>
                <kega_init>
                    <file>init.xml</file>
                </kega_init>
            </updates>
        </layout>
	</frontend>

	<adminhtml>
		<events>
			<controller_action_predispatch_adminhtml_targetrule_save>
				<observers>
					<kega_init_observer_setmemorylimit>
						<type>singleton</type>
						<class>Kega_Init_Model_Observer</class>
						<method>setMemoryLimit</method>
					</kega_init_observer_setmemorylimit>
				</observers>
			</controller_action_predispatch_adminhtml_targetrule_save>
			<adminhtml_category_display_mode_options>
				<observers>
					<kega_init_observer_adddisplaymode>
						<type>singleton</type>
						<class>Kega_Init_Model_Observer</class>
						<method>addCatalogDisplayOption</method>
					</kega_init_observer_adddisplaymode>
				</observers>
			</adminhtml_category_display_mode_options>
		</events>
	</adminhtml>
	<crontab>
		<jobs>
			<kega_reindex_catalog_data>
				<run><model>init/observer::reindexCatalogData</model></run>
				</kega_reindex_catalog_data>
			</jobs>
	</crontab>
</config>
