<?xml version="1.0"?>
<config>
    <modules>
		<Kega_TntDirect>
			<version>0.1.2</version>
			<depends>
				<Mage_Shipping />
			</depends>
		</Kega_TntDirect>
	</modules>
    <default>
        <carriers>
            <kega_tnt_direct>
                <active>0</active>
                <title>PostNL</title>
                <model>Kega_TntDirect_Model_Carrier_ShippingMethod</model>
                <handling_type>F</handling_type>
            </kega_tnt_direct>
        </carriers>
        <sales_pdf>
            <refund>
				<kega_tnt_direct_sticker_border>0</kega_tnt_direct_sticker_border>
				<kega_tnt_direct_sticker_left_padding>0</kega_tnt_direct_sticker_left_padding>
                <kega_tnt_direct_sticker_xpos>15</kega_tnt_direct_sticker_xpos>
				<kega_tnt_direct_sticker_ypos>305</kega_tnt_direct_sticker_ypos>
            </refund>
        </sales_pdf>
	</default>
	<frontend>
		<translate>
			<modules>
				<Kega_TntDirect>
					<files>
						<default>Kega_TntDirect.csv</default>
					</files>
				</Kega_TntDirect>
			</modules>
		</translate>
    </frontend>
	<global>
        <models>
            <kega_tntdirect>
                <class>Kega_TntDirect_Model</class>
                <resourceModel>kega_tntdirect_mysql4</resourceModel>
            </kega_tntdirect>
            <kega_tntdirect_mysql4>
                <class>Kega_TntDirect_Model_Mysql4</class>
                <entities>
                    <export>
                        <table>kega_tnt_direct_exports</table>
                    </export>
                </entities>
            </kega_tntdirect_mysql4>
		</models>
        <helpers>
        	<kega_tntdirect>
				<class>Kega_TntDirect_Helper</class>
            </kega_tntdirect>
            <kega_tntdirect_sticker>
				<class>Kega_TntDirect_Helper_Sticker</class>
            </kega_tntdirect_sticker>
            <kega_tntdirect_barcode>
				<class>Kega_TntDirect_Helper_Barcode</class>
            </kega_tntdirect_barcode>
            <kega_tntdirect_barcode_kix>
				<class>Kega_TntDirect_Helper_Barcode_Kix</class>
            </kega_tntdirect_barcode_kix>
            <kega_tntdirect_barcode_code39>
				<class>Kega_TntDirect_Helper_Barcode_Code39</class>
            </kega_tntdirect_barcode_code39>
        </helpers>
        <resources>
            <kega_tntdirect_setup>
                <setup>
                    <module>Kega_TntDirect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kega_tntdirect_setup>
            <kega_tntdirect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kega_tntdirect_write>
            <kega_tntdirect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kega_tntdirect_read>
        </resources>
        <blocks>
			<kega_tntdirect>
				<rewrite>
					<adminhtml_shipping_carriers>Kega_TntDirect_Block_Adminhtml_Shipping_Carriers</adminhtml_shipping_carriers>
				</rewrite>
			</kega_tntdirect>
		</blocks>
		<events>
			<!-- Before saving a shipment we need to check if we should add a track/trace number. -->
			<sales_order_shipment_save_before>
				<observers>
					<kega_tntdirect_addTrack>
						<class>kega_tntdirect/shipping_observer</class>
						<method>addTrack</method>
					</kega_tntdirect_addTrack>
				</observers>
			</sales_order_shipment_save_before>
			<kega_pdf_refund_insert_shipment_track_sticker_kega_tnt_direct>
				<observers>
					<kega_tntdirect_addTrackingSticker>
						<class>kega_tntdirect/order_pdf_refund_observer</class>
						<method>addTrackingSticker</method>
					</kega_tntdirect_addTrackingSticker>
				</observers>
			</kega_pdf_refund_insert_shipment_track_sticker_kega_tnt_direct>
		</events>
	</global>
	<adminhtml>
		<events>
			<!-- When creating a shipment use another template for tracking info if it is a kega_tnt_direct shipment. -->
			<adminhtml_block_html_before>
				<observers>
				<kega_tntdirect_setCreateTrackingHtml>
					<class>kega_tntdirect/shipping_observer</class>
					<method>setCreateTrackingHtml</method>
				</kega_tntdirect_setCreateTrackingHtml>
				</observers>
			</adminhtml_block_html_before>
		</events>
		<translate>
			<modules>
				<Kega_TntDirect>
					<files>
						<default>Kega_TntDirect.csv</default>
					</files>
				</Kega_TntDirect>
			</modules>
		</translate>
	</adminhtml>
    <crontab>
		<jobs>
            <kega_export2PostNL>
				<schedule><cron_expr>*/30 * * * *</cron_expr></schedule>
				<run><model>kega_tntdirect/observer::export2PostNL</model></run>
			</kega_export2PostNL>
		</jobs>
	</crontab>
</config>