<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Extraopening>
            <version>0.1.1</version>
        </Kega_Extraopening>
    </modules>
    <frontend>
        <routers>
            <extraopening>
                <use>standard</use>
                <args>
                    <module>Kega_Extraopening</module>
                    <frontName>extraopening</frontName>
                </args>
            </extraopening>
        </routers>
        <layout>
            <updates>
                <extraopening>
                    <file>extraopening.xml</file>
                </extraopening>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<extraopening>
				<use>admin</use>
				<args>
					<module>Kega_Extraopening</module>
					<frontName>extraopening</frontName>
				</args>
			</extraopening>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<extraopening>
					<file>extraopening.xml</file>
				</extraopening>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <extraopening>
                <class>Kega_Extraopening_Model</class>
                <resourceModel>extraopening_mysql4</resourceModel>
            </extraopening>
            <extraopening_mysql4>
                <class>Kega_Extraopening_Model_Mysql4</class>
                <entities>
                    <extraopening>
                        <table>extraopening</table>
                    </extraopening>
                    <extraopening_store>
                        <table>extraopening_store</table>
                    </extraopening_store>
                </entities>
            </extraopening_mysql4>
        </models>
        <resources>
            <extraopening_setup>
                <setup>
                    <module>Kega_Extraopening</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extraopening_setup>
            <extraopening_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extraopening_write>
            <extraopening_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extraopening_read>
        </resources>
        <blocks>
            <extraopening>
                <class>Kega_Extraopening_Block</class>
            </extraopening>
        </blocks>
        <helpers>
            <extraopening>
                <class>Kega_Extraopening_Helper</class>
            </extraopening>
        </helpers>
    </global>
</config>