<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Faq>
            <version>0.3.5</version>
        </Kega_Faq>
    </modules>
	<frontend>
		<routers>
            <Kega_Faq>
                <use>standard</use>
                <args>
                    <module>Kega_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </Kega_Faq>
        </routers>
		<layout>
			<updates>
				<faq>
					<file>faq.xml</file>
				</faq>
			</updates>
		</layout>
		<translate>
            <modules>
                <Kega_Faq>
                    <files>
                        <default>Kega_Faq.csv</default>
                    </files>
                </Kega_Faq>
            </modules>
        </translate>
	</frontend>
    <admin>
        <routers>
			<Kega_Faq>
				<use>admin</use>
				<args>
					<module>Kega_Faq</module>
					<frontName>faq</frontName>
				</args>
			</Kega_Faq>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<faq>
					<file>faq.xml</file>
				</faq>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <faq>
                <class>Kega_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </faq>
            <faq_mysql4>
                <class>Kega_Faq_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>faq_category</table>
                    </category>
                    <question>
                        <table>faq_question</table>
                    </question>
                    <category_store>
						<table>faq_category_store</table>
					</category_store>
                    <question_store_view>
						<table>faq_question_store_view</table>
					</question_store_view>
                    <category_store_view>
						<table>faq_category_store_view</table>
					</category_store_view>
                </entities>
            </faq_mysql4>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>Kega_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
		<blocks>
			<faq>
				<class>Kega_Faq_Block</class>
			</faq>
			<kega_faq>
				<class>Kega_Faq_Block</class>
			</kega_faq>
		</blocks>
        <helpers>
            <faq>
                <class>Kega_Faq_Helper</class>
            </faq>
            <kega_faq>
                <class>Kega_Faq_Helper</class>
            </kega_faq>
        </helpers>
		<rewrite>

        </rewrite>
    </global>
</config>