<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Checkout>
            <version>0.0.1</version>
        </Kega_Checkout>
    </modules>
	<global>
        <models>
            <checkout>
                <rewrite>
                    <cart>Kega_Checkout_Model_Cart</cart>
                </rewrite>
            </checkout>
        </models>
    </global>
</config>