<?xml version="1.0"?>
<config>
	<modules>
		<Kega_Retargeting>
			<version>0.1.0</version>
		</Kega_Retargeting>
	</modules>
	<global>
        <models>
            <kega_retargeting>
                <class>Kega_Retargeting_Model</class>
            </kega_retargeting>
        </models>
        <helpers>
            <kega_retargeting>
                <class>Kega_Retargeting_Helper</class>
            </kega_retargeting>
        </helpers>
	</global>
	<frontend>
		<events>
	       	<controller_action_predispatch>
               <observers>
				<kega_retargeting>
					<type>singleton</type>
					<class>kega_retargeting/observer</class>
					<method>loadRetargeting</method>
				</kega_retargeting>
			</observers>
           </controller_action_predispatch>
		</events>
		<layout>
			<updates>
				<kega_retargeting>
					<file>retargeting.xml</file>
				</kega_retargeting>
			</updates>
		</layout>
	</frontend>
</config>
