<?xml version="1.0"?>
<config>
    <modules>
		<Kega_Pdf>
			<version>0.1.0</version>
		</Kega_Pdf>
	</modules>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Kega_Pdf before="Mage_Adminhtml">Kega_Pdf</Kega_Pdf>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<translate>
			<modules>
				<Kega_Pdf>
					<files>
						<default>Kega_Pdf.csv</default>
					</files>
				</Kega_Pdf>
			</modules>
		</translate>
    </frontend>
	<global>
        <models>
            <kega_pdf>
                <class>Kega_Pdf_Model</class>
            </kega_pdf>
			<sales>
				<rewrite>
					<order_pdf_invoice>Kega_Pdf_Model_Order_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_items_invoice_default>Kega_Pdf_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>

					<order_pdf_shipment>Kega_Pdf_Model_Order_Pdf_Shipment</order_pdf_shipment>
					<order_pdf_items_shipment_default>Kega_Pdf_Model_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>

					<order_pdf_refund>Kega_Pdf_Model_Order_Pdf_Refund</order_pdf_refund>
					<order_pdf_items_refund_default>Kega_Pdf_Model_Order_Pdf_Items_Refund_Default</order_pdf_items_refund_default>

					<order_pdf_creditmemo>Kega_Pdf_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_items_creditmemo_default>Kega_Pdf_Model_Order_Pdf_Items_Creditmemo_Default</order_pdf_items_creditmemo_default>
				</rewrite>
			</sales>
		</models>
        <helpers>
			<kega_pdf>
				<class>Kega_Pdf_Helper</class>
			</kega_pdf>
        </helpers>
		<pdf>
			<refund>
				<default>sales/order_pdf_items_refund_default</default>
			</refund>
		</pdf>
		<events>
			<!-- Because we also have a refund PDF, we need to add a button for printing this PDF on the shipment view page. -->
			<adminhtml_widget_container_html_before_sales_order_shipment_view>
				<observers>
					<kega_pdf_addJustPrintButtons>
						<class>kega_pdf/shipping_observer</class>
						<method>addJustPrintButtons</method>
					</kega_pdf_addJustPrintButtons>
				</observers>
			</adminhtml_widget_container_html_before_sales_order_shipment_view>

			<!-- Because we also have a refund PDF, we need to add a mass action for printing this PDF on the shipment grid page. -->
			<adminhtml_grid_prepare_massaction_block_after_sales_shipment_grid>
				<observers>
					<kega_pdf_addMassPrintRefundAction>
						<class>kega_pdf/shipping_observer</class>
						<method>addMassPrintRefundAction</method>
					</kega_pdf_addMassPrintRefundAction>
				</observers>
			</adminhtml_grid_prepare_massaction_block_after_sales_shipment_grid>
		</events>
	</global>
	<default>
        <sales_pdf>
            <invoice>
                <header_logo>1</header_logo>
                <top_margin>20</top_margin>
                <put_order_id>1</put_order_id>
            </invoice>
            <shipment>
                <header_logo>1</header_logo>
                <top_margin>20</top_margin>
                <put_order_id>1</put_order_id>
            </shipment>
            <refund>
                <header_logo>1</header_logo>
                <top_margin>20</top_margin>
                <put_order_id>1</put_order_id>
                <return_sticker_active>1</return_sticker_active>
                <return_sticker_xpos>460</return_sticker_xpos>
				<return_sticker_ypos>305</return_sticker_ypos>
				<return_sticker_rotate>1</return_sticker_rotate>
				<return_sticker_border>0</return_sticker_border>
            </refund>
            <creditmemo>
                <header_logo>1</header_logo>
                <top_margin>20</top_margin>
                <put_order_id>1</put_order_id>
            </creditmemo>
        </sales_pdf>
	</default>
	<adminhtml>
		<translate>
			<modules>
				<Kega_Pdf>
					<files>
						<default>Kega_Pdf.csv</default>
					</files>
				</Kega_Pdf>
			</modules>
		</translate>
   </adminhtml>
</config>