<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Meta>
            <version>0.1.1</version>
        </Kega_Meta>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Kega_Meta_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>