<?xml version="1.0"?>
<config>
    <description><![CDATA[Sets default values for product attributes and product category based on a set of rules
    ]]></description>
    <modules>
        <Kega_ProductAttributeDefault>
            <version>0.2.4</version>
        </Kega_ProductAttributeDefault>
    </modules>
    <frontend>
        <routers>
            <productattributedefault>
                <use>standard</use>
                <args>
                    <module>Kega_ProductAttributeDefault</module>
                    <frontName>productattributedefault</frontName>
                </args>
            </productattributedefault>
        </routers>
        <layout>
            <updates>
                <kega_productattributedefault module="Kega_ProductAttributeDefault">
                    <file>kega_productattributedefault.xml</file>
                </kega_productattributedefault>
            </updates>
        </layout>
        <translate>
            <modules>
                <Kega_ProductAttributeDefault>
                    <files>
                        <default>Kega_ProductAttributeDefault.csv</default>
                    </files>
                </Kega_ProductAttributeDefault>
            </modules>
        </translate>
    </frontend>
    <admin>
	<routers>
	    <adminhtml>
		<args>
		    <modules>
			<Kega_ProductAttributeDefault before="Mage_Adminhtml">Kega_ProductAttributeDefault_Adminhtml</Kega_ProductAttributeDefault>
		    </modules>
		</args>
	    </adminhtml>
        </routers>
   </admin>
   <adminhtml>

   	<translate>
            <modules>
                <Kega_ProductAttributeDefault>
                    <files>
                        <default>Kega_ProductAttributeDefault.csv</default>
                    </files>
                </Kega_ProductAttributeDefault>
            </modules>
        </translate>
	<layout>
	    <updates>
		<kega_productattributedefault>
		    <file>kega_productattributedefault.xml</file>
		</kega_productattributedefault>
	    </updates>
	</layout>
        <menu>
            <catalog>
                <children>
                    <kega_productattributedefault translate="title" module="kega_productattributedefault">
                        <title>Product Attribute Default Value</title>
                        <action>adminhtml/productattributedefault/</action>
                        <sort_order>250</sort_order>
                    </kega_productattributedefault>
                </children>
             </catalog>
        </menu>
	<acl>
	    <resources>
		<admin>
		    <children>
			<catalog>
			    <children>
				<kega_productattributedefault translate="title" module="kega_productattributedefault">
				    <title>Product Attribute Default Value</title>
				</kega_productattributedefault>
			    </children>
			</catalog>
			<system>
			    <children>
				<config>
				    <children>
					<kega_productattributedefault translate="title" module="kega_productattributedefault">
					    <title>Product Attribute Default Value</title>
					</kega_productattributedefault>
				    </children>
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
	<events>
		<adminhtml_block_eav_attribute_edit_form_init>
			<observers>
				<kega_productattributedefault>
	                 <class>kega_productattributedefault/observer</class>
	                 <method>addAttributeFormField</method>
	            </kega_productattributedefault>
			</observers>
		</adminhtml_block_eav_attribute_edit_form_init>
	</events>
    </adminhtml>
    <global>
	<models>
	    <kega_productattributedefault>
			<class>Kega_ProductAttributeDefault_Model</class>
			<resourceModel>kega_productattributedefault_mysql4</resourceModel>
			</kega_productattributedefault>
	    <kega_productattributedefault_mysql4>
			<class>Kega_ProductAttributeDefault_Model_Mysql4</class>
			<entities>
				<productattributedefault>
					<table>kega_productattributedefault</table>
				</productattributedefault>
				<productattributedefault_attributes>
					<table>kega_productattributedefault_attributes</table>
				</productattributedefault_attributes>
				<productattributedefault_attributes_dynamic>
					<table>kega_productattributedefault_attributes_dynamic</table>
				</productattributedefault_attributes_dynamic>
				<productattributedefault_categories>
					<table>kega_productattributedefault_categories</table>
				</productattributedefault_categories>
				<manual_product_changes>
					<table>kega_productattributedefault_manual_product_changes</table>
				</manual_product_changes>
			</entities>
	    </kega_productattributedefault_mysql4>
	</models>
	    <resources>
		<kega_productattributedefault_setup>
		    <setup>
			<module>Kega_ProductAttributeDefault</module>
		    </setup>
		    <connection>
			<use>core_setup</use>
		    </connection>
		</kega_productattributedefault_setup>
		<kega_productattributedefault_write>
		    <connection>
			<use>core_write</use>
		    </connection>
		</kega_productattributedefault_write>
		<kega_productattributedefault_read>
		    <connection>
			<use>core_read</use>
		    </connection>
		</kega_productattributedefault_read>
	    </resources>
	    <blocks>
		<kega_productattributedefault>
		    <class>Kega_ProductAttributeDefault_Block</class>
		</kega_productattributedefault>
	    </blocks>
	    <helpers>
		<kega_productattributedefault>
		    <class>Kega_ProductAttributeDefault_Helper</class>
		</kega_productattributedefault>
	    </helpers>
	    <events>
        	<catalog_product_prepare_save>
                <observers>
                    <kega_productattributedefault>
                        <class>kega_productattributedefault/observer</class>
                        <method>setManualChangedProduct</method>
                    </kega_productattributedefault>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <kega_productattributedefault>
                        <class>kega_productattributedefault/observer</class>
                        <method>saveManualChangedProductAttributes</method>
                    </kega_productattributedefault>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
	<crontab>
		<jobs>
			<set_product_default_values>
				<schedule><cron_expr>0 5 * * *</cron_expr></schedule>
				<run><model>kega_productattributedefault/observer::setProductDefaultValues</model></run>
			</set_product_default_values>
		</jobs>
	</crontab>
</config>