<?xml version="1.0"?>
<config>
    <modules>
        <Kega_CustomerExport>
            <version>0.1.0</version>
        </Kega_CustomerExport>
    </modules>
    <global>
        <models>
            <kega_customerexport>
                <class>Kega_CustomerExport_Model</class>
            </kega_customerexport>
        </models>
        <helpers>
            <kega_customerexport>
                <class>Kega_CustomerExport_Helper</class>
            </kega_customerexport>
        </helpers>
    </global>
	<!--crontab>
		<jobs>
			<kega_customer_export>
			    <schedule><cron_expr>false</cron_expr></schedule>
				<run><model>kega_customerexport/observer::exportCustomers</model></run>
			</kega_customer_export>
			<kega_customer_import>
			    <schedule><cron_expr>false</cron_expr></schedule>
				<run><model>kega_customerexport/observer::importCustomers</model></run>
			</kega_customer_import>
	   </jobs>
	</crontab-->
	<default> 
		<kega_customerexport> 
			<export> 
				<export_at_once>5000</export_at_once> 
			</export> 
		</kega_customerexport> 
	</default> 
</config>