/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*####################
	GENERAL STYLING
####################*/
html { }
body { overflow-y: scroll; font-size: 62.5%; }
.ie7 body { overflow: auto; }

h1, h2, h3, h4, h5, h6 {  }
a { }

p, ul, ol, dl, address { }
p.footer { }

li { }
li.newline { }

table { width: 100%; font-size: 1.2em; }
thead th { }
tbody th, tbody td, tfoot th, tfoot td {  }
table img { }

input[type=submit], button { cursor: pointer; }

/*####################
	HASLAYOUT
####################*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*####################
   GENERAL CLASSES
####################*/
.structural { position: absolute; left: -9999px; }

/*####################
   	 CMS Content
####################*/
.std h2 { font-size: 1.6em; }
.std h3 { font-size: 1.4em; }
.std h4 { font-size: 1.2em; }
.std ul { list-style: disc; margin-left: 20px; }
.std ol { list-style: decimal; margin-left: 20px; }

/*####################
   FORM VALIDATION
####################*/
.validation-advice { position: absolute; left: -9999px; }
.validation-failed { border: 1px solid red; }

/*####################
	  DROPDOWN
####################*/
.dropdown { position: relative; background-color: transparent; cursor: pointer; border: 1px solid #d4d4d4; }
.dropdown span { padding: 0 22px 0 5px; height:17px; overflow: hidden; background: url(../images/bg-select.png) no-repeat right 1px #fff; }
.dropdown .empty { display: block; }
.dropdown ul { display: none; position: absolute; left: -1px; top: 17px; border: 1px solid #d4d4d4; }
.dropdown.open ul { display: block; z-index: 999; }
.dropdown li { float: none; }
.dropdown a { padding: 0 5px; background-color: #fff; }
.dropdown a:hover, .dropdown .active a { background-color: #d4d4d4; }
.dropdown span,
.dropdown a { display: block; line-height: 1.4; }

/*####################
   	HEADER
####################*/



/*####################
   	PRODUCT LIST
####################*/
.products-list { }
.products-list li.item { }
.products-list li.item:hover { }
.products-list .first { }
.products-list .product-image { }
.products-list .product-name { }
.products-list .regular-price { }


/*####################
	PRODUCT DETAIL PAGE
####################*/



/*####################
	CONTENT BLOCK
####################*/
.content-block { clear: both; margin-bottom: 10px; border: 1px solid #d2d2d2; border-top: none; }
.content-block h2,
.content-block .block-title { display: block; position: relative; padding: 10px 0 10px 12px; border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; background-color: #f1f1f1; font-size: 1.6em; font-weight: bold; text-transform: uppercase; }
.content-block .content { padding: 10px; }

/*####################
	FAQ
####################*/
.faq-pages .content-block { margin-bottom: 20px; }
.content-block .faq_search input { float: left; width: 425px; margin: 18px 10px 18px 16px; padding: 6px; border: 1px solid #dad9d6; font-size: 1.2em; color: #72706d;}
.content-block .faq_search button { margin: 18px 10px 18px 4px; padding: 6px 24px 5px 10px; }

.faq_search p { margin-bottom: 0px; font-size: 1em; }

.mode-index .faqbox { position: relative; float: left; min-height: 175px; width: 170px; margin-bottom: 30px; padding: 0 15px 15px 130px; background-repeat: no-repeat; }
.faqbox h2 { font-size: 1.3em; font-weight: bold; text-transform: uppercase; }
.faqbox h3 { font-size: 1.1em; }
.faqbox ul { font-size: 1em; }
.faq-continue { text-decoration: underline; }

.mode-category .faqbox { width: auto; padding-left: 0; }
.mode-category .faqbox h2 { font-size: 1.8em; }
.mode-category .faqbox h3 { font-size: 1.3em; }
.mode-category .faqbox ul { font-size: 1em; }
.mode-category .answer { margin-bottom: 20px; }

/*####################
	    WIZARD
####################*/

/* cart block styling */
.mode-checkout .content-block h2 span { position: absolute; left: 0; top: 0; display: block; padding: 3px 7px 4px; background-color: #000; font-size: 1.5em; color: #fff; font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; }
.mode-checkout .content-block h2 { padding-left: 45px; }
.mode-checkout fieldset.content-block { border: none; }

/* cart empty block styling */
.wizard-block-empty h2 { margin-bottom: 0; border-bottom: none; }

/* shopping table styling */
.cart-table th { padding-bottom: 5px; font-weight: bold; text-transform: uppercase; text-align: left; }
.cart-table td { background-color: #EDEDED; border-bottom: 1px solid #d2d2d2; border-top: 1px solid #d2d2d2; text-align: left; vertical-align: middle; }
.cart-table img { border: 1px solid #d2d2d2; display: block; }
.cart-table .p-image { padding-left: 45px; width: 60px; }
.cart-table .p-name { width: 110px; }
.cart-table .p-name a { font-weight: bold; }
.cart-table .dropdown,
.cart-table .dropdown ul { width: 56px; }
.cart-table .dropdown ul { font-size: 1em; }
.cart-table .p-options,
.cart-table .p-price { width: 80px; }

#update-cart-wrap { float: right; margin-top: 10px; margin-right: 20px; }
#update-cart-wrap button { font-size: 1em; }

/* shopping cart totals styling */
.cart-totals { width: 450px; margin: 15px 0 10px 45px; }
.cart-totals td { padding-bottom: 8px; }
.cart-totals tbody { text-align: left; }
.cart-totals tfoot { font-size: 1.1em; }

/* amount chooser */
.amount-chooser-wrap { position: relative; display: block; width: 36px; padding-right: 18px; background-color: #fff; border: 1px solid #a8acaf; }
.amount-chooser-wrap .up,
.amount-chooser-wrap .down { position: absolute; display: block; width: 19px; height: 9px; right: 0; background: url(../images/bg-amount-button.png) left top no-repeat #fff; color: #fff; cursor: pointer; }
.amount-chooser-wrap .up { top: 0; }
.amount-chooser-wrap .down { bottom: 0; background-position: left bottom;  }
.amount-chooser-wrap input[type="text"] { padding: 0 7px; border: none; width: 40px; height: 18px; background-color: #fff; }

.mode-checkout .footer-buttons { float: right; font-size: 1em; margin-right: 20px; margin-top: 25px; }
.mode-checkout .footer-buttons li { display: block; float: left; padding-left: 12px  }
.mode-checkout .footer-buttons .as-button { font-size: 1.4em; }
.cart .continue-shopping a { font-size: 1.2em; color: #4e4c49; }
.cart .continue-shopping a:hover { text-decoration: none; }
.cart .continue-shopping span { border-bottom: 1px solid #a7a6a4; }
.cart .continue-order a { padding-left: 8px; padding-top: 3px; padding-bottom: 3px; }

/* coupon code styling */
.cart .coupon { float: left; margin-left: 38px; margin-bottom: 15px; }
.cart .coupon > p { margin-bottom: 5px; }
.discount-form input[type="text"] { float: left; width: 168px; padding: 3px 7px 4px; color: #8c8c8c; border: 1px solid #a8acaf; border-right: none; }
.discount-form .button-alt { float: left; padding: 2px 6px; font-size: 1.1em; }
.cancel-coupon { font-weight: bold; font-size: 1.1em; color: #9A9A9A; cursor: pointer; }

.cart-summary .p-name { width: 160px; }
.cart-summary .cart-totals tfoot { font-size: 1em; }
.cart-summary .footer-buttons { margin-top: 0;}

/* wizard login or create account */
.login-register-choice { padding: 20px 10px 10px 42px; }
.login-register-choice .button-arrow { padding-top: 3px; padding-bottom: 3px; }
.login-register-choice h3 { margin-bottom: 22px; }
.login-register-choice .button-arrow { font-size: 1.4em; padding-left: 10px; }
.login-register-choice .footer { font-size: 1em; margin-bottom: 0; }

#login-choice { float: left; width: 270px; }
#login-choice .cms-content { line-height: 1.5; }
#register-choice { float: left; width: 330px; margin-left: 50px; }

.account-login { padding: 18px; background: #f1f1f1; border: 1px solid #d2d2d2; }
.account-login p { margin-right: 0; padding: 0; }
.account-login label { width: 70px; }
.account-login input[type="text"],
.account-login input[type="password"]{ float: left; width: 182px; margin-left: 10px; background-color: #fff; border: 1px solid #a8acaf; }
.account-login .footer { float: right; }

.wizard-account .account-form h2 { position: absolute; left: -9999em; }

/* summary colset */
.wizard-block-summary .col-left { float: left; width: 310px; padding: 10px 0 0 45px; }
.wizard-block-summary address span { display: block; font-style: normal; }
.wizard-block-summary .col-right { float: left; width: 310px; padding-top: 10px;}
.wizard-block-summary .button-arrow { font-size: 1.4em; }
.wizard-block-summary dl { margin-bottom: 0;}

/* delivery form */
.wizard-delivery { padding: 10px 10px 0 45px; }
.wizard-delivery ul { font-size: 1em; margin-bottom: 0; }
.wizard-delivery li { padding: 0 10px 10px 0; }
.wizard-delivery .visible-content { margin-left: 20px; padding: 10px; padding-bottom: 0; background: #f1f1f1; border: 1px solid #d2d2d2; overflow:hidden; }
.wizard-delivery .pickup-store-search label { width: 160px; }
.wizard-delivery .pickup-store-search button { font-size: 1em; }
.wizard-delivery .theme1 input[type="text"] { background: #fff; }
.wizard-delivery .buttons-set button { margin-right: 10px; }

/* wizard payment */
.wizard-payment .totals { padding: 10px 45px; }
.wizard-payment .totals tfoot tr { border-top: 1px solid #a8acaf; padding-top: 5px;}
.wizard-payment .totals td { padding: 2px 0; }
#payment-methods { margin-left: 45px; }
#payment-methods dt { margin-bottom: 5px; }
#payment_form_ogone { width: 488px; padding: 10px 0 10px 20px; background: #f1f1f1; border: 1px solid #d2d2d2; }
.payment-method { margin-bottom: 40px; overflow: hidden; }
.payment-method > p { font-weight: bold; font-size: 1.1em; }
.wizard-payment .payment-creditcard { margin-bottom: 0;}
.payment-method li { position: relative; float: left; margin: 0 10px 10px 0; }
.payment-method li input { position: absolute; top: 3px; left: 3px; }
.payment-method li .bank-image { width: 130px; height: 78px; display: block; text-indent: -9999em; background-color: #fff; background-position: center center; background-repeat: no-repeat; }
.payment-method #ideal-logo { float: right; padding: 10px 10px 0 0; }

.wizard-payment #agreement-wrap { margin-top: 20px; font-size: 1.1em; }
.wizard-payment #agreement-wrap a { text-decoration: underline; }
.wizard-payment .load-payment { display: none; float: right; margin-top: -5px; padding: 0 20px; }

/* wizard sidebar */
.wizard-first .sidebar { width: 188px; margin-top: 32px; padding: 15px 20px; background-color: #f1f1f1; border: 1px solid #d2d2d2; }
.wizard-first .sidebar > h2 { font-size: 1.6em; text-transform: uppercase; }
.wizard-first .sidebar li.item { height: 300px; border: 1px solid #c8c9cb; margin: 0; margin-bottom: 10px; background: #fff; }
.wizard-first .sidebar li:hover.item { cursor: pointer; }
.wizard-first .sidebar .product-name { height: auto; }
.wizard-first .sidebar .productlist-info { padding: 0 10px; }

/*####################
   	FOOTER
####################*/


.store-pages #map { position: relative; width: 600px; height: 600px; }

/*####################
   	CONTACT PAGE
####################*/
#contact-form label { }
#contact-form textarea { }
#contact-form .radio-options span { }
#contact-form .radio-options span label { }
