<?xml version="1.0"?>
<config>
	<modules>
		<kega_sysload>
			<version>0.0.1</version>
		</kega_sysload>
	</modules>
	<global>
		<helpers>
			<kega_sysload><class>Kega_Sysload_Helper</class></kega_sysload>
		</helpers>
		<models>
			<kega_sysload><class>Kega_Sysload_Model</class></kega_sysload>
		</models>
	</global>
	<frontend>
		<events>
			<controller_action_predispatch>
				<observers>
					<kega_sysload_check>
						<type>singleton</type>
						<class>kega_sysload/observer</class>
						<method>check</method>
					</kega_sysload_check>
				</observers>
			</controller_action_predispatch>
		</events>
    </frontend>
    <default>
    	<system>
    		<kega_sysload>
    			<load_redirect_all>999</load_redirect_all>
    			<load_redirect_new>999</load_redirect_new>
    			<load_redirect_noncheckout>999</load_redirect_noncheckout>
    		</kega_sysload>
    	</system>
    </default>
</config>
