<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Vacancy>
            <version>0.2.0</version>
        </Kega_Vacancy>
    </modules>
    <frontend>
        <routers>
            <vacancy>
                <use>standard</use>
                <args>
                    <module>Kega_Vacancy</module>
                    <frontName>vacatures</frontName>
                </args>
            </vacancy>
        </routers>
        <secure_url>
            <vacancy>/vacatures</vacancy>
        </secure_url>
        <layout>
            <updates>
                <vacancy>
                    <file>vacancy.xml</file>
                </vacancy>
            </updates>
        </layout>
		<translate>
            <modules>
                <Kega_Vacancy>
                    <files>
                        <default>Kega_Vacancy.csv</default>
                    </files>
                </Kega_Vacancy>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<vacancy>
				<use>admin</use>
				<args>
					<module>Kega_Vacancy</module>
					<frontName>vacancy</frontName>
				</args>
			</vacancy>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<vacancy>
					<file>vacancy.xml</file>
				</vacancy>
			</updates>
		</layout>
		<translate>
            <modules>
                <Kega_Vacancy>
                    <files>
                        <default>Kega_Vacancy.csv</default>
                    </files>
                </Kega_Vacancy>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <vacancy>
                <class>Kega_Vacancy_Model</class>
                <resourceModel>vacancy_mysql4</resourceModel>
            </vacancy>
            <vacancy_mysql4>
                <class>Kega_Vacancy_Model_Mysql4</class>
                <entities>
                    <vacancy>
                        <table>vacancy</table>
                    </vacancy>
                    <vacancytype>
                        <table>vacancytype</table>
                    </vacancytype>
                    <candidate>
                        <table>vacancycandidate</table>
                    </candidate>
					<vacancyregion>
						<table>vacancyregion</table>
					</vacancyregion>
                    <vacancy_store_view>
						<table>vacancy_store_view</table>
					</vacancy_store_view>
                    <vacancy_store>
						<table>vacancy_store</table>
					</vacancy_store>
                </entities>
            </vacancy_mysql4>
        </models>
        <resources>
            <vacancy_setup>
                <setup>
                    <module>Kega_Vacancy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vacancy_setup>
            <vacancy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vacancy_write>
            <vacancy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vacancy_read>
        </resources>
        <blocks>
            <vacancy>
                <class>Kega_Vacancy_Block</class>
            </vacancy>
        </blocks>
        <helpers>
            <vacancy>
                <class>Kega_Vacancy_Helper</class>
            </vacancy>
        </helpers>
		<rewrite>
          <!-- This is an identifier for your rewrite that should be unique -->
          <kega_vacancy_id>
              <!--<from><![CDATA[#^[^/]+/id/([0-9]*)#]]></from>-->
              <from><![CDATA[#^/vacatures/[^/]+/[^/]+/id/([0-9]*)#]]></from>
              <to>/vacatures/vacancies/details/show/$1</to>
          </kega_vacancy_id>
<!--
			<kega_store_name>
              <from><![CDATA[#^/store/([_a-zA-Z]+)/#]]></from>
              <to>/store/index/index/custom_url/$1/</to>
          </kega_store_name>
          <kega_store_search>
              <from><![CDATA[#^/store/(search)|(storeselector){1}/#]]></from>
              <to>/store/index/index/$1/</to>
          </kega_store_search>
-->
        </rewrite>
		<template>
            <email>
                <vacancy_email_notify translate="label" module="vacancy">
                    <label>Vacancy responce notification</label>
                    <file>vacancy_notify.phtml</file>
                    <type>html</type>
                </vacancy_email_notify>
            </email>
        </template>
    </global>
</config>